.MenuListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; /* Increased padding for a slightly larger item */
  border-bottom: 2px solid #ddd; /* Thicker border between menu items */
}

.emoji {
  font-size: 24px; /* Slightly larger emoji */
  margin-right: 15px; /* Increased margin for spacing */
}

.name {
  flex-grow: 1;
  margin-right: 15px; /* Increased margin for spacing */
}

.buy {
  display: flex;
  align-items: center;
}

.btn-sm {
  font-size: 16px; /* Slightly larger button text */
  padding: 8px 15px; /* Increased padding for a larger button */
  cursor: pointer;
  background-color: #008080; /* Teal color, adjust as needed */
  color: #ffffff; /* White color for text, adjust as needed */
  border: none;
  border-radius: 5px; /* Rounded corners for a softer look */
  outline: none;
}

.btn-sm:hover {
  background-color: #005454; /* Darker teal on hover, adjust as needed */
}
  