/* MenuListItem.css */

.MenuListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; /* Adjust padding as needed */
  border-bottom: 2px solid #ddd; /* Border between menu items */
}

.image {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  margin-right: 15px; /* Adjust margin as needed */
  overflow: hidden; /* Ensure the image doesn't overflow its container */
}

.image img {
  width: 100%; /* Make the image take up 100% of the container width */
  height: auto; /* Maintain the aspect ratio */
}

.name {
  flex-grow: 1;
  margin-right: 15px; /* Adjust margin as needed */
}

.buy {
  display: flex;
  align-items: center;
}

.btn-sm {
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: #008080; /* Teal color, adjust as needed */
  color: #ffffff; /* White color for text, adjust as needed */
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn-sm:hover {
  background-color: #005454; /* Darker teal on hover, adjust as needed */
}
  